# This workflows uploads the assets for a specific release.

on:
  workflow_call:

name: Assets

jobs:
  Assets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build asset
        run: make build-tar

      - name: Upload asset
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: gh release upload ${{ github.ref_name }} bin/http.darwin-arm64.tar.gz