# This workflows uploads the assets for a specific release.

on:
  workflow_call:

name: Assets

jobs:
  Assets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build asset
        run: make build-tar

      - name: Upload asset
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: gh release upload ${{ github.ref_name }} bin/http.darwin-arm64.tar.gz