# This workflow creates a release by creating a changelog from the
# conventional commit messages.

on:
  workflow_call:

name: Release

jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create changelog
        run: scripts/generate-change-log.sh > CHANGELOG.md

      - name: Create release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd #v8.0.0
        with:
          github-token: ${{ secrets.ACCESS_TOKEN }}
          script: |
            const fs = require('fs');
            const content = fs.readFileSync('CHANGELOG.md', 'utf8');

            github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: '${{ github.ref_name }}',
              tag_name: '${{ github.ref_name }}',
              body: content,
            })
