# This workflow creates a semantic version tag using conventional commits.

on:
  workflow_call:

name: Tag

jobs:
  Tag:
    runs-on: ubuntu-latest
    steps:
      # Setup environment
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # Checkout everything to get access to the tags
          token: ${{ secrets.GITHUB_TOKEN }}

      # Automatically add semantic version tag
      - name: Get version
        id: semantic-version
        run: echo "version=$(scripts/calculate-version.sh)" >> "$GITHUB_OUTPUT"

      - name: Create tag
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd #v8.0.0
        if: ${{ steps.semantic-version.outputs.version != '' }}
        with:
          github-token: ${{ secrets.ACCESS_TOKEN }}
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ steps.semantic-version.outputs.version }}',
              sha: context.sha
            })

