on:
  workflow_call:

name: Verify

jobs:
  Verify:
    runs-on: ubuntu-latest
    steps:
      # Setup environment
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          cache: true
          go-version-file: 'go.mod'

      # Setup Go linter
      - name: Go linter (info)
        id: go-linter
        run: echo "version=$(make lint-info)" >> "$GITHUB_OUTPUT"

      - name: Go linter (cache)
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ${{ steps.go-linter.outputs.version }}
          key: ${{ runner.os }}-go-linter-${{ steps.go-linter.outputs.version }}

      # Setup GitHub Actions linter
      - name: GitHub Actions linter (info)
        id: gha-linter
        run: echo "version=$(make gha-linter-info)" >> "$GITHUB_OUTPUT"

      - name: GitHub Actions linter (cache)
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ${{ steps.gha-linter.outputs.version }}
          key: ${{ runner.os }}-gha-linter-${{ steps.gha-linter.outputs.version }}

      # Run hygiene controls
      - name: Lint Go code
        run: make lint

      - name: Lint gha files
        run: make gha-lint

      - name: Test
        run: make test