on:
  workflow_call:

name: Verify

jobs:
  Verify:
    runs-on: ubuntu-latest
    steps:
      # Setup environment
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          cache: true
          go-version-file: 'go.mod'

      # Setup Go linter
      - name: Go linter (info)
        id: go-linter
        run: echo "version=$(make lint-info)" >> "$GITHUB_OUTPUT"

      - name: Go linter (cache)
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            ${{ steps.go-linter.outputs.version }}
          key: ${{ runner.os }}-go-linter-${{ steps.go-linter.outputs.version }}

      # Setup GitHub Actions linter
      - name: GitHub Actions linter (info)
        id: gha-linter
        run: echo "version=$(make gha-linter-info)" >> "$GITHUB_OUTPUT"

      - name: GitHub Actions linter (cache)
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            ${{ steps.gha-linter.outputs.version }}
          key: ${{ runner.os }}-gha-linter-${{ steps.gha-linter.outputs.version }}

      # Run hygiene controls
      - name: Lint Go code
        run: make lint

      - name: Lint gha files
        run: make gha-lint

      - name: Test
        run: make test